@use "../mixins" as *;

/* FONT
 * -------------------------------------------------- */

/*
 * 100 = thin
 * 200 = extra-light
 * 300 = light
 * 400 = normal, book
 * 500 = medium
 * 600 = semi-bold
 * 700 = bold
 * 800 = heavy
 * 900 = black
 */

$fontName: 'LTSuperior';

@include font-face($fontName, 'LTSuperior/LTSuperiorBold', 700);

@include font-face($fontName, 'LTSuperior/LTSuperiorSemibold', 600);

@include font-face($fontName, 'LTSuperior/LTSuperiorMedium', 500);

@include font-face($fontName, 'LTSuperior/LTSuperiorRegular', 400);

.-fonts-ready {
  body {
    font-family: $fontName, var(--font-secondary);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6 {
    font-family: $fontName, var(--header-text-font-family);
  }
}


.typo{

    //display

    &-d-xl{
        font-family: var(--font-secondary);
        font-size: 238px;
        line-height: auto;
    }

    &-d-l{
        font-family: var(--font-primary);
        font-size: 74px;
        line-height: 92%;
        font-weight: 300;

        color: var(--c-heading-text);
    }

    &-d-m{
        font-family: var(--font-primary);
        font-size: 72px;
        line-height: auto;
    }


    //hat

    &-h1{
        font-family: var(--font-primary);
        font-size: 44px;
        line-height: 91%;
    }

    &-h2{
        font-family: var(--font-secondary);
        font-size: 24px;
        line-height: 100%;
    }

    //subtitle

    &-st{
        font-family: var(--font-secondary);
        font-size: 12px;
        line-height: 120%;
        letter-spacing: 0.25px;
    }

    //table

    &-th{
        font-family: var(--font-secondary);
        font-size: 11px;
        line-height: 120%;
        font-weight: 600;
    }

    &-tv{
        font-family: var(--font-secondary);
        font-size: 10px;
        line-height: 120%;
    }

    &-tl{
        font-family: var(--font-secondary);
        font-size: 8px;
        line-height: 140%;
        font-weight: 400;
    }

    &-td{
        font-family: var(--font-secondary);
        font-size: 8px;
        line-height: 100%;
    }

    &-tt{
        font-family: var(--font-secondary);
        font-size: 10px;
        line-height: 100%;
    }

    // additionaly

    &-as{
        font-family: var(--font-secondary);
        font-size: 15px;
        line-height: 100%;
        font-weight: 400;
        letter-spacing: -0.15px;
    }

    &-at{
        font-family: var(--font-secondary);
        font-size: 28px;
        line-height: 100%;
        font-weight: 500;
    }

    &-asub{}

    &-ahsub{}

    &-aft{
        font-family: var(--font-secondary);
        font-size: 29px;
        line-height: 60%;
    }
}
