@use "../mixins" as *;

/* FONT
 * -------------------------------------------------- */

/*
 * 100 = thin
 * 200 = extra-light
 * 300 = light
 * 400 = normal, book
 * 500 = medium
 * 600 = semi-bold
 * 700 = bold
 * 800 = heavy
 * 900 = black
 */

$fontName: 'LTSuperior';

@include font-face($fontName, 'LTSuperior/LTSuperiorBold', 700);

@include font-face($fontName, 'LTSuperior/LTSuperiorSemibold', 600);

@include font-face($fontName, 'LTSuperior/LTSuperiorMedium', 500);

@include font-face($fontName, 'LTSuperior/LTSuperiorRegular', 400);

.-fonts-ready {
  body {
    font-family: $fontName, var(--font-secondary);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6 {
    font-family: $fontName, var(--header-text-font-family);
  }
}


.typo{

    //display

    &-d-xl{
        font-family: var(--font-secondary);
        font-size: 83.9mm;
        line-height: 1;
    }

    &-d-l{
        font-family: var(--font-primary);
        font-size: 26.1mm;
        line-height: 92%;
        font-weight: 300;

        color: var(--c-heading-text);
    }

    &-d-m{
        font-family: var(--font-primary);
        font-size: 25.4mm;
        line-height: 1;
        font-weight: 300;
    }


    //hat

    &-h1{
        font-family: var(--font-primary);
        font-size: 15.5mm;
        line-height: 91%;
        font-weight: 300;
    }

    &-h2{
        font-family: var(--font-secondary);
        font-size: 8.5mm;
        line-height: 100%;
        font-weight: 500;
    }

    //subtitle

    &-st{
        font-family: var(--font-secondary);
        font-size: 4.2mm;
        line-height: 120%;
        letter-spacing: 0.1mm;
    }

    //table

    &-th{
        font-family: var(--font-secondary);
        font-size: 3.9mm;
        line-height: 120%;
        font-weight: 600;
    }

    &-tv{
        font-family: var(--font-secondary);
        font-size: 4.1mm;
        line-height: 125%;
        font-weight: 500;
    }

    &-tl{
        font-family: var(--font-secondary);
        font-size: 2.8mm;
        line-height: 136%;
        font-weight: 400;
    }

    &-td{
        font-family: var(--font-secondary);
        font-size: 2.8mm;
        line-height: 100%;
    }

    &-tt{
        font-family: var(--font-secondary);
        font-size: 3.5mm;
        line-height: 100%;
    }

    // additionaly

    &-as{
        font-family: var(--font-secondary);
        font-size: 5.6mm;
        line-height: 100%;
        font-weight: 400;
        letter-spacing: -0.1mm;
    }

    &-at{
        font-family: var(--font-secondary);
        font-size: 9.5mm;
        line-height: 100%;
        font-weight: 400;
    }

    &-asub{
        font-family: var(--font-primary);
        font-size: 7.1mm;
        line-height: 1;
        letter-spacing: 1.1mm;
        font-weight: 300;
    }

    &-ahsub{
        font-family: var(--font-primary);
        font-size: 7.1mm;
        line-height: 1;
        letter-spacing: 2.5mm;
        font-weight: 300;
    }

    &-aft{
        font-family: var(--font-secondary);
        font-size: 10.2mm;
        line-height: 60%;
        letter-spacing: 0.7mm;
        font-weight: 700;
    }

    &-ath{
        font-family: var(--font-secondary);
        font-size: 5.25mm;
        letter-spacing: 0.01em;
        line-height: 60%;
        font-weight: 600;
    }
}
