html,
body {
	height: 100%;
}

.wrapper {
	padding: 32px 0;
}

.main {
	position: relative;

	width: 100%;
	min-height: 842px;
	max-height: 842px;
	max-width: calc(var(--container-max-width));
	margin: 0 auto;

    box-shadow: 0px 0px 80px #cccccc;

	background-color: var(--c-white);
}

.hero{
	position: relative;

    display: flex;
    align-items: flex-end;

	height: 275px;
	padding: 26px 20px;

	margin-bottom: 60px;

	&__star-img{
		position: absolute;
		bottom: -36px;
    	right: 20px;
		z-index: 2;

		width: 140px;
		height: 140px;    
		
		object-fit: contain;

	}

	&__bg{
		position: absolute;
		top: 0;
		left: 0;

		width: 100%;
		height: 100%;
		background-color: var(--c-background);
		border-radius: 20px;
		overflow: hidden;
	}

	&__text{
		position: relative;
		z-index: 1;

		width: 470px;

		h1{
			margin-bottom: 12px;
		}

		p{
			width: 367px;
			color: var(--c-sutitle-text);
		}
	}
}

.pattern-img{
	height: 100%;

    object-fit: contain;
}

.risk-cards{
	display: flex;
	flex-direction: column;
	gap: 25px;
}

.risk{
	&__card{
		display: flex;
		flex-direction: column;
    	padding: 0px 16px;
	}

	&__header{
		padding: 14px 12px 10px;

		background-color: var(--c-table);
		border-radius: 6px;
		margin-bottom: 6px;
	}

	&__badge{
		background-color: var(--c-red);
		color: var(--c-white);
		padding: 5px 12px 4px;
		border-radius: 6px;
		margin-bottom: 25px;

		display: grid;
		grid-template-columns: repeat(3, 1fr);
    	gap: 24px;
	}


	&-details {
    	display: grid;
    	grid-template-columns: repeat(3, 1fr);
    	gap: 24px;

    	padding: 0 12px;
	}
}
$text-gray: #888;
$text-dark: #333;
$accent-blue: #6d93b3;
$row-bg: #f8f9fa;

.additional-block {
  position: relative;    
  padding: 0 16px;

  .block-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 11px;

    h2 {
		display: inline-flex;
    	align-items: center;

      &::before {
        content: '';
		display: block;
		width: 10px;
		height: 10px;
        margin-right: 10px;
		border-radius: 50%;

        background-color: var(--c-violet);
      }
    }

    .filter-tags {
      display: flex;
      gap: 10px;

      .tag {
        border: 1px solid var(--c-brand);
        padding: 6px 13px;
        border-radius: 20px;
        color: var(--c-brand);
      }
    }
  }

  .block-description {
    color: var(--c-sutitle-text);
    width: 320px;
    margin-bottom: 42px;
  }

  .supplements-table {
    display: grid;
    grid-template-columns: 113px 110px 135px 177px;
    gap: 0;

    .table-row {
      display: grid;
      grid-template-columns: subgrid; // Для поддержки во всех браузерах лучше повторить:
      grid-column: 1 / -1;
      display: grid;
    	align-items: center;
    //   padding: 18px 20px;
      border-radius: 8px;

      span {
        padding: 11px 14px;

		&:nth-child(2),&:first-child {
			white-space: pre;
		}
      }

      &:nth-child(even) {
        background-color: var(--c-table);
      }

      &.header {
        margin-bottom: 10px;

		span{
        	padding: 0 14px;
		}
      }

      .name {
        color: var(--c-brand);
        text-decoration: underline;
        text-underline-offset: 3px;
      }

      .period, .dose, .desc {
        color: var(--c-main-text);
      }
    }
  }
}


  .two-col{

	.tag{    
		white-space: pre;
	}

	.supplements-table{
		grid-template-columns: repeat(2, 1fr);
	}


      .block-header {
        margin-bottom: 43px;
      }
  }