html,
body {
	height: 100%;
}

.wrapper {
	padding: 32px 0;
}

.main {
	position: relative;

	width: 100%;
	min-height: 842px;
	max-height: 842px;
	max-width: calc(var(--container-max-width));
	margin: 0 auto;

    box-shadow: 0px 0px 80px #cccccc;

	background-color: var(--c-white);
}

.hero{
	position: relative;

    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-end;

	height: 275px;
	padding: 26px 20px;

	margin-bottom: 60px;

	&__star-img{
		position: absolute;
		bottom: -36px;
    	right: 20px;
		z-index: 2;

		width: 140px;
		height: 140px;    
		
		object-fit: contain;

	}

	&__bg{
		position: absolute;
		top: 0;
		left: 0;

		width: 100%;
		height: 100%;
		background-color: var(--c-background);
		border-radius: 20px;
		overflow: hidden;
	}

	&__text{
		position: relative;
		z-index: 1;

		width: 450px;

		h1{
			margin-bottom: 12px;
			color: var(--c-heading-text);
		}

		p{
			width: 367px;
			color: var(--c-sutitle-text);
		}
	}

	&__brand-tag {
    	display: flex;
    	align-items: center;
		opacity: 0;
		z-index: 1;
		padding: 8px 16px;

		color: var(--c-white);

		border-radius: 100px;
		margin-bottom: 16px;

		svg	{
			width: 9px;
			height: 9px;
		}

		p {
			margin: 0;
			margin-left: 9px;
    		white-space: break-spaces;
		}
	}
}

.viewBrandTag{
	opacity: 1;
}

.pattern-img{
	height: 100%;

    object-fit: contain;
}



.section-label{
    display: flex;
    align-items: center;
    gap: 9px;
    padding: 7px 12px;
    color: var(--c-white);
    border-radius: 6px;
    width: 531px;
	min-height: 32px;
    margin: 24px auto 0;

    p{
		display: inline-flex;
		align-items: center;
      margin: 0;
    }
}

.block-wrapper{
    width: 531px;
    margin: 0 auto;
}

.red-bg{
	background-color: var(--c-red);
}

.violet-bg{
	background-color: var(--c-violet);
}

.green-bg{
	background-color: var(--c-green);
}

.description-tex{
	margin-top: 20px;
	white-space: pre-wrap;
}

.effect-banner{

	&__svg{
	width: 18px;
	height: 18px;
	background-color: var(--c-white);
	color: var(--c-green);
	border-radius: 50%;
	margin-right: 10px;
	padding: 3px;
	
}
}

.gray-label{
    background-color: var(--c-table); // Светло-серый фон заголовка
    padding: 14px 20px;
    border-radius: 6px;
    margin-bottom: 10px;

  &__title {
    margin: 0;

    color: var(--c-main-text);
  }
}

.text-grid{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 40px;
	margin-bottom: 10px;

	p{
		padding: 0 10px 10px;
		margin: 0;
	}

}