.footer {
    position: absolute;
    bottom: 4mm;
    left: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    transform: translateX(-50%);

    p {
        z-index: 1;
        padding: 0 4.2mm;
        background-color: var(--c-white);
        color: var(--c-main-text);
        margin: 0;
    }

    &::after {
        position: absolute;
        top: 50%;
        left: 50%;

        height: 0.4mm;
        width: 190mm;

        background-color: var(--c-separator);

        content:'';
        
        transform: translate(-50%, -50%);
    }
}

.colorBg {
    p {
        background-color: var(--c-background);
    }
}