// Переменные
$radius: 4.2mm;

.dashboard {

  &__activities {
    margin-bottom: 14.1mm;
  }

  &__medical-info {
    display: flex;
    flex-direction: column;
    gap: 10.6mm;
  }
}

.activities-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 23.3mm;
  row-gap: 5.3mm;
  padding: 7.4mm 5.3mm 0;
}

.activity-card {
  display: flex;
  align-items: flex-start;
  gap: 4.2mm;

  &:first-child, &:nth-child(2){
    padding-bottom: 7.1mm;
    border-bottom: 0.4mm solid var(--c-separator);
  }

  &__number {
    min-width: 11.3mm;
    min-height: 11.3mm;
    background-color: var(--c-background);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--c-main-text);

    span{
      margin-top: 2.1mm;
    }
  }

  &__title {
    margin: 0 0 2.8mm 0;
    color: var(--c-main-text);
  }

  &__text {
    margin: 0;
    color: var(--c-main-text);
    width: 95%;
  }
}

// Информационные блоки
.info-block {
  border-radius: $radius;
  padding: 8.5mm;

  &__main-title {
    font-size: 7.1mm;
    margin-bottom: 8.5mm;
    color: var(--c-main-text);
    font-weight: 400;
  }

  &__container {
    border-radius: 2.8mm;
    padding: 3.5mm 0;
  }
}

.info-row {
  display: grid;
  grid-template-columns: 88.2mm 1fr;
  padding: 5.6mm 8.5mm;
  border-bottom: 0.4mm solid #f0f0f0;

  &:last-child {
    border-bottom: none;
  }

  &__label {
    font-weight: 500;
    color: var(--c-main-text);
    font-size: 4.9mm;
  }

  &__content {
    margin: 0;
    font-size: 4.9mm;
    color: var(--c-main-text);
    line-height: 1.4;
  }
}