@use '../mixins' as *;

.tag {
        border: 0.2mm solid var(--c-brand);
        padding: 2.1mm 4.6mm 1.8mm;
        border-radius: 7.1mm;
        color: var(--c-brand);
        background-color: var(--c-table);    
        white-space: pre;
      }
      
.additional-block {
  position: relative;    
  padding: 0 5.6mm;
}

  .block-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3.9mm;

    h2 {
		  display: inline-flex;
    	align-items: center;

      &::before {
        content: '';
		    display: block;
		    min-width: 3.5mm;
		    min-height: 3.5mm;
		    width: 3.5mm;
		    height: 3.5mm;
        margin-right: 3.5mm;
		    border-radius: 50%;

        background-color: var(--c-violet);
      }
    }

    .filter-tags {
      display: flex;
      gap: 3.5mm;
    }
  }

  .small-header{
    width: tomm(430);
    margin-top: tomm(20);
  }

  .block-description {
    color: var(--c-sutitle-text);
    width: 112.9mm;
    margin-bottom: 14.8mm;
  }

  .supplements-table {
    display: grid;
    grid-template-columns: 39.9mm 38.8mm 47.6mm 62.4mm;
    gap: 0;

    .table-row {
      display: grid;
      grid-template-columns: subgrid; // Для поддержки во всех браузерах лучше повторить:
      grid-column: 1 / -1;
      display: grid;
    	align-items: center;
    //   padding: 6.3mm 7.1mm;
      border-radius: 2.8mm;

      a{
        text-decoration: underline;
      }

      a,span {
        padding: 3.9mm 4.9mm;

		&:nth-child(2),&:first-child {
			white-space: pre;
		}
      }

      &:nth-child(even) {
        background-color: var(--c-table);
      }

      &.header {
        margin-bottom: 3.5mm;

		span{
        	padding: 0 4.9mm;
		}
      }

    
    a {
      color: var(--c-brand);
    }

      .name a {
        text-underline-offset: 1.1mm;
        text-decoration: underline;
      }

      .period, .dose, .desc {
        color: var(--c-main-text);
      }
    }
  }



  .two-col{

	  .tag{    
	  	white-space: pre;
	  }

	  .supplements-table{
	  	grid-template-columns: repeat(2, 1fr);
	  }


    .block-header {
      margin-bottom: 15.2mm;
    }

    .result{
      white-space: initial !important;
    }

  }

.recomendation-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: tomm(16) tomm(84);
  margin: tomm(20) 0 tomm(40);
}

.recomendation-item{
  p{
    margin: 0;
    padding: tomm(18) tomm(16);

    &:first-child{
    background-color: var(--c-table);
  }
  }
}

.recomendation-list{
  display: flex;
  flex-direction: column;
  gap: tomm(19);
  margin-top: tomm(20);

  &__item{
    &-top{
      display: grid;
      align-items: center;
      grid-template-columns: tomm(266) tomm(181) tomm(230);
      background-color: var(--c-table);
      padding: tomm(12) tomm(16);

      p{
        margin: 0;
      }
    }

    &-text{
      padding: tomm(20) tomm(16);
      margin: 0;

      p{
        margin: 0;
      }
    }

    &-columns{
      display: grid; 
      grid-template-columns: tomm(264) 1fr;
      align-items: center;

      p{
        padding: tomm(20) tomm(16);
        margin: 0;
      }
    }

    &-names{
      display: grid; 
      grid-template-columns: tomm(264) 1fr;
      padding: 0 tomm(16);
      margin: tomm(44) 0 tomm(-10);

      p{
        margin: 0;
      }
    }
  }
}

.pils{

  display: flex;
  align-items: center;
  gap: tomm(8);

  &-icon{
    height: tomm(22);
    width: tomm(22);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;

    &-pils{ background-image: url('../../images/icons/pils.svg');}
    &-cal{ background-image: url('../../images/icons/calendar.svg');}
  }

  &-value{

  }
}

.without-gap{
  gap: 0;
}

.section-container{
  padding: 0 tomm(24);

  .genetic-impact__scale-container{
    margin: tomm(30) 0 tomm(40);
  }
}

.texts{
  margin-top: tomm(27);

  p{
    margin: 0 0 tomm(20);
  }
}

.margin-t{
    margin-top: tomm(32);
}

.analis-list{
  margin-top: tomm(35);

  &_titles, &_item{
    display: grid;
    grid-template-columns: tomm(215) 1fr;
    align-items: center;
  }

  &_titles{
      background-color: var(--c-secondary);

    p{
      margin: 0;
      padding: tomm(10) tomm(16);
    }
  }

  &_item{
    p{
      margin: 0;
      padding: tomm(23) tomm(16);
    }

    &:nth-child(odd){
      background-color: var(--c-secondary);
    }
  }
}