.analysis-section {
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;

  margin-bottom: 14.1mm;
}

.analysis-table {
  display: flex;
  flex-direction: column;
  width: 100%;

  &__body{
    padding: 0 4.9mm;
    }

  &__header {
    display: grid;
    grid-template-columns: 52.9mm 51.8mm 51.8mm 31.7mm;
    padding: 4.2mm 9.2mm;
  }

  &__row {
    display: grid;
    grid-template-columns: 52.9mm 51.8mm 51.8mm 31.7mm;
    padding: 3.5mm 4.2mm;
    align-items: center;
    border-radius: 2.8mm;

    // Чередование фона строк (зебра)
    &:nth-child(odd) {
      background-color: var(--c-table);
    }
  }

  &__cell {
    color: #4b5563;

    &--name {
      color: #374151;
    }
  }

  &__badge {
    display: inline-block;
    padding: 1.1mm 4.6mm;
    border-radius: 1.1mm;
    min-width: 23.3mm;
    text-align: center;
    color: var(--c-white);

    // Специфические цвета статусов из макета
    &--high {
      background-color: #e9a1a1; // Светло-красный (повышен)
    }

    &--normal {
      background-color: #94b9a9; // Шалфейный зеленый (норма)
    }

    &--low {
      background-color: #93b2d1; // Приглушенный синий (понижен)
    }
  }
}
