.page-container {
  padding: 21.2mm 13.0mm 14.1mm;
  box-sizing: border-box;
  background-color: var(--c-white);
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0 auto;
  border-radius: 7.1mm;
}

.checklist {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__header {
    margin-bottom: 31.7mm;
  }

  &__badge {
    position: absolute;    
    top: 5.3mm;
    right: 5.3mm;
  }

  &__title {
    margin: 14.8mm 0 4.2mm;
    color: var(--c-heading-text);
  }

  &__subtitle {
    margin: 0;
    color: var(--c-sutitle-text);
  }

  &__content {
    flex-grow: 1;
    padding-right: 11.3mm;
    color: var(--c-main-text);
  }

  &__table-head {
    display: flex;
    justify-content: space-between;
    padding-bottom: 4.6mm;
    border-bottom: 0.4mm solid var(--c-separator);
  }

  &__label {

    &:last-child{
        margin-right: 3.5mm;
    }
  }

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4.2mm 0;
    padding-right: 3.5mm;
  }

  &__parameter {
  }

  &__rating {
    display: flex;
    gap: 1.1mm;
  }

  &__dot {
    width: 2.5mm;
    height: 5.6mm;
    background-color: var(--c-table);
    border-radius: 1.4mm;
    display: inline-block;
  }
}

.container{
    background-color: var(--c-background);
}