.database-container {
  display: flex;
  justify-content: center;
  padding: 0 3.5mm;

  margin-bottom: 10.9mm;
}

.database-card {
  width: 100%;
  overflow: hidden;

  &__content {
    padding: 0 3.2mm;
  }
}

.database-list {
    flex-direction: column;
    display: flex;
    gap: 4.6mm;


  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3.5mm 3.5mm;
    border-bottom: 0.4mm solid var(--c-separator); // Тонкий разделитель между строками

    &:last-child {
      border-bottom: none; // Убираем линию у последнего элемента
    }
  }

  &__description {
    white-space: pre;

    color: var(--c-main-text);
    max-width: 70%; // Ограничение ширины для предотвращения наезда на источник
  }

  &__source {
    white-space: pre;

    color: var(--c-main-text);
    text-align: right;
  }
}

.tw_bottom{
    padding: 0 2.1mm;

    &__content{
        padding: 0 5.6mm;
        margin-top: 6.7mm;
        display: flex;
        gap: 8.5mm;
        color: var(--c-sutitle-text);
    }

    &__texts{
    display: flex;
    flex-direction: column;
    gap: 3.5mm;

        p{
            margin: 0;
            width: 113.2mm;
        }
}
}