@use '_mixins';

// demo styles, remove it

.section_intro {
	display: flex;
	height: 100%;
	background-color: #f2f2f2;
	color: #282c34;
	place-items: center;
	text-align: center;

	a {
		color: inherit;
		text-decoration: underline;

		&:hover {
			color: inherit;
			text-decoration: none;
		}
	}
}

.end-page {
	display: flex;
    flex-direction: column;
    align-items: center;
	padding-top: 35.6mm;
	
	&__logo {
		height: 10.9mm;
		width: 21.2mm;

		object-fit: contain;

		margin-bottom: 57.1mm;
	}

	&__end-img {
        width: 123.4mm;
        height: 64.9mm;

		object-fit: contain;

		margin-bottom: 16.2mm;

	}

	&__line-img {    
        width: 52.9mm;
        height: 38.8mm;

		object-fit: contain;

        margin-top: -20.1mm;

	}

	&__content {
		position: relative;
        display: flex;
        flex-direction: column;
		width: max-content;    

        text-align: center;

        margin-top: -5.3mm;
        margin-bottom: 33.5mm;

        font-family: var(--font-secondary);
        font-size: 6.0mm;
        font-weight: 500;

        text-decoration: underline;

        color: var(--c-info);

	}

	&__bottom {
        display: flex;
        width: 100%;
        justify-content: space-between;
        padding: 0 4.6mm 0 5.6mm;
	}

    &__bottom-info {
        align-items: flex-end;
        display: flex;
        gap: 9.9mm;

        p {
            margin: 0;
        }

        div {
            display: flex;
            flex-direction: column;
            gap: 3.5mm;
        }
    }

    &__qr-code {
        width: 21.2mm;
        height: 21.2mm;
    }
}

.container {
	background-color: var(--c-background);
}