.habits-container {
  width: 100%;
  box-sizing: border-box;
  padding: 0 2.8mm 7.1mm;
}

.habits-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); // Три колонки согласно макету
  gap: 19.8mm;
  align-items: start;
}

.habit-card {
  display: flex;
  flex-direction: column;
  gap: 1.8mm;

  &__title {
    margin: 0;
    color: var(--c-main-text);
  }

  &__rating {
    display: flex;
    gap: 1.4mm;
    flex-wrap: nowrap;
  }

  &__dot {
    width: 2.5mm;
    height: 5.6mm;
    background-color: var(--c-table); // Цвет пустых делений
    border-radius: 2.1mm;
    display: inline-block;

    // Цвета активных делений на основе макета
    &--active-yellow {
      background-color: var(--c-yellow); 
    }
    
    &--active-green {
      background-color: var(--c-green);
    }

    &--active-red {
      background-color: var(--c-red);
    }
  }

  &__description {
    margin: 0;
    color: var(--c-main-text);
  }
}