.wellness-section {    
    margin-bottom: 32px;
}

.health-row {
  display: flex;
  gap: 82px; 
  
    padding: 3px 14px;
}

.health-card {
  flex: 1;

  color: var(--c-sutitle-text);

  &__header {
    border-bottom: 1px solid var(--c-separator); // Жирная серая линия под заголовком
    padding-bottom: 5px;
    margin-bottom: 6px;
  }

  &__title {
    margin: 0;
  }

  &__body {
    padding-right: 10px;
  }

  &__text {
    margin: 0;
  }
}
