.wellness-section {    
    margin-bottom: 11.3mm;
}

.health-row {
  display: flex;
  gap: 28.9mm; 
  
    padding: 1.1mm 4.9mm;
}

.health-card {
  flex: 1;

  color: var(--c-sutitle-text);

  &__header {
    border-bottom: 0.4mm solid var(--c-separator); // Жирная серая линия под заголовком
    padding-bottom: 1.8mm;
    margin-bottom: 2.1mm;
  }

  &__title {
    margin: 0;
  }

  &__body {
    padding-right: 3.5mm;
  }

  &__text {
    margin: 0;
  }
}
