.cards-wrapper{    
    display: flex;
    flex-direction: column;
    gap: 7.1mm;
    padding: 0 5.3mm;
    width: 100%;
}

.info-card {
    width: 100%;
    color: #494949;

  p{
    align-items: flex-start;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;

    span{
      &:last-child{
        color: var(--c-sutitle-text);
      }
    }
  }

  &__header {
    background-color: var(--c-table); // Светло-серый фон как на фото
    padding: 5.6mm 3.9mm 3.9mm;
    border-radius: 2.1mm;
    margin-bottom: 2.8mm;
  }

  &__title {
  }

  &__body {
    // padding: 0 3.9mm;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 2.1mm;
  }

  &__row {
    display: grid;
    grid-template-columns: 1fr 2.6fr;
  }

  &__label {
    padding: 3.5mm;

  }

  &__content {
    padding: 2.5mm 3.9mm;
  }
}


  .block-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3.9mm;

    h2 {
		display: inline-flex;
    	align-items: center;

      &::before {
        content: '';
		    display: block;
		    min-width: 3.5mm;
		    min-height: 3.5mm;
		    width: 3.5mm;
		    height: 3.5mm;
        margin-right: 3.5mm;
		    border-radius: 50%;

        background-color: var(--c-violet);
      }
    }

    .filter-tags {
      display: flex;
      gap: 3.5mm;

      .tag {
        border: 0.2mm solid var(--c-brand);
        padding: 2.1mm 4.6mm 1.8mm;
        border-radius: 7.1mm;
        color: var(--c-brand);
        background-color: var(--c-table);
            white-space: pre;
      }
    }
  }