@use '../mixins' as *;

.nav-page{

    &__info{
        position: relative;

        display: flex;
        justify-content: center;
        align-items: flex-end;

        height: tomm(240);
        width: 100%;
        padding: 10.6mm;
        margin-bottom: tomm(26);

        border-radius: 7.1mm;

        background-color: var(--c-background);

        overflow: hidden;

        img {
            position: absolute;
            top: 0;
            left: 0;

            width: 100%;
            height: 100%;
        }

        &-start{
            justify-content: start;
        }
    }

    &__list{
        display: flex;
        flex-direction: column;
        gap: 7.6mm;
        padding: 0;
        margin: 0 7.0mm 0 9.1mm;

            a{
                display: flex;
                justify-content: space-between;
                gap: 2.8mm;


            &:not(:last-child){
                border-bottom: 0.4mm solid var(--c-separator);
            }

                span{
                    &:first-child{
                        color: var(--c-main-text);
                        padding: 3.2mm 0 2.1mm;
                    }

                    &:last-child{
                        color: var(--c-brand);
                    }
                }
            }
        
    }
}

.info-cards {
    display: flex;
    flex-direction: column;
    gap: tomm(30);
    padding: tomm(26) tomm(18);
}

.info-card{
    display: flex;
    padding: tomm(47) tomm(24) tomm(32) tomm(42);
    background-color: var(--c-secondary);
    border-radius: tomm(6);

    img{
        width: tomm(62);
        height: tomm(66);
    }

    &__count{
        font-family: var(--font-secondary);
        font-size: tomm(340);
        line-height: 64%;
        width: 28%;
        transform: translate(tomm(-28), tomm(28));
        color: var(--c-separator);
    }

    &__info{    
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        h2{
            margin-bottom: tomm(12);
        }

        p{
            margin: 0;
        }
    }
}