.priority-block {
    padding: 0 5.6mm;

  &__header {
    background-color: var(--c-red);
    display: flex;
    align-items: center;
    gap: 3.2mm;
    padding: 2.5mm 4.2mm;
    color: var(--c-white);
    border-radius: 2.1mm;
  }

  &__icon {
    background: #fff;
    color: var(--c-red);
    font-size: 4.6mm;
    font-family: var(--font-secondary);
    width: 6.3mm;
    height: 6.3mm;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

  }

  &__title {
    margin: 0;
  }

  &__content {
    padding: 4.9mm 0;
  }
}

.priority-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 22.6mm;
}

.priority-column {
  &__label {
    color: #444;
    margin-bottom: 6.3mm;
    font-family: var(--font-primary);
    font-size: 5.6mm;
    font-weight: 500;
  }

  &__items {
    width: 70%;
    p {
    color: var(--c-main-text);
    margin-bottom: 6.3mm;
  }}
}

// Блок активностей
.activities-layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10.6mm;
  border-top: 0.4mm solid #eee;
  padding-top: 10.6mm;
}

.activity-item {
  display: flex;
  gap: 7.1mm;
  align-items: flex-start;

  &__badge {
    background-color: var(--c-red);
    min-width: 17.6mm;
    height: 17.6mm;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--c-main-text);
  }

  &__name {
    margin: 0 0 3.5mm 0;
    color: var(--c-main-text);
  }

  &__desc {
    margin: 0;
    color: var(--c-main-text);
  }
}