.profile-container{
    padding: 0 16px;
    margin: 6px 0 48px;
}

.user-profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--c-secondary); // Светлый фон карточки
  padding: 12px;
  border-radius: 20px;

  &__main-info {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &__avatar-container {
    width: 120px;
    height: 135px;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;
  }

  &__avatar {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__details {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-top: 8px;
  }

  &__name {
    margin: 0;
    font-size: 20px;
    color: var(--c-main-text);
  }

  &__stats-grid {
    display: grid;
    grid-template-columns: 93px 93px 136px;
    grid-template-rows: repeat(2, 32px);
    column-gap: 23px;
    row-gap: 8px;
  }

  &__stat-item {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: var(--c-white);
    padding: 3px 6px;
    border-radius: 100px; // Овальные капсулы из макета
  }

  &__stat-text {
    color: var(--c-main-text);
    white-space: pre;
    width: 100%;
  }

  &__icon {
    min-width: 24px;
    min-height: 24px;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    background-color: var(--c-background);
    
    &--gender { background-image: url('../../images/icons/woman.svg'); }
    &--age { background-image: url('../../images/icons/calendar.svg'); }
    &--height { background-image: url('../../images/icons/ruler.svg'); }
    &--weight { background-image: url('../../images/icons/weight.svg'); }
  }

  &__reason-box {
    grid-row: 1 / 3;
    grid-column-start: 3;
    background-color: var(--c-white);
    padding: 12px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 1px;
  }

  &__reason-label {
    color: var(--c-main-text);
    text-transform: none;
  }

  &__reason-text {
    margin: 0;
    color: var(--c-main-text);
  }
}