:root {
    --font-primary: 'Montserrat', sans-serif;
    --font-secondary: 'LTSuperior', sans-serif;
}

@font-face {
   src:
       url(../fonts/LTSuperior/LTSuperiorBold.woff2)
       format("woff2");
   font-family: "LTSuperior";
   font-weight: 700;
   font-style: normal;
   font-display: swap;
}

@font-face {
   src:
       url(../fonts/LTSuperior/LTSuperiorMedium.woff2)
       format("woff2");
   font-family: "LTSuperior";
   font-weight: 500;
   font-style: normal;
   font-display: swap;
}

@font-face {
   src:
       url(../fonts/LTSuperior/LTSuperiorRegular.woff2)
       format("woff2");
   font-family: "LTSuperior";
   font-weight: 400;
   font-style: normal;
   font-display: swap;
}

@font-face {
   src:
       url(../fonts/LTSuperior/LTSuperiorSemibold.woff2)
       format("woff2");
   font-family: "LTSuperior";
   font-weight: 600;
   font-style: normal;
   font-display: swap;
}
