.page {
    
    &__wrapper{
        height: 100svh;
        max-width: 595px;
        width: 100%;
        margin: 0 auto;
    }

    &__content{
        height: 100%;
        padding: 32px 14px 22px;

        border: 1px solid var(--c-main-text);
    }
}

