$mobile: 246.9mm; // target 360
$tablet: 388.0mm; // target 768
$laptop: 564.3mm; // target 1440
$desktop: 677.2mm; // target 1920

@mixin bp-mobile-only() {
	@media (max-width: $mobile) {
		@content;
	}
}

@mixin bp-tablet-only() {
	@media (min-width: $mobile + 0.0mm) and (max-width: $tablet) {
		@content;
	}
}

@mixin bp-tablet-up() {
	@media (min-width: $mobile + 0.0mm) {
		@content;
	}
}

@mixin bp-tablet-down() {
	@media (max-width: $tablet) {
		@content;
	}
}

@mixin bp-laptop-only() {
	@media (min-width: $tablet + 0.0mm) and (max-width: $laptop) {
		@content;
	}
}

@mixin bp-laptop-up() {
	@media (min-width: $tablet + 0.0mm) {
		@content;
	}
}

@mixin bp-laptop-down() {
	@media (max-width: $laptop) {
		@content;
	}
}

@mixin bp-desktop-only() {
	@media (min-width: $laptop + 0.0mm) and (max-width: $desktop) {
		@content;
	}
}

@mixin bp-desktop-up() {
	@media (min-width: $laptop + 0.0mm) {
		@content;
	}
}
