@use "breakpoints";

@mixin make-container() {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}

@mixin base-container {
    margin-right: auto;
    margin-left: auto;
    width: 100%;

    @include breakpoints.mq {
        display: none;
    }
}
