@mixin link() {
	border-bottom: 0.4mm solid currentcolor;

	&:hover {
		border-bottom-color: transparent;
	}
}

@mixin link-invert() {
	border-bottom: 0.4mm solid transparent;

	&:hover {
		border-bottom-color: currentcolor;
	}
}
