@use "sass:list";
@mixin transitions($transitions, $duration: 0.3s, $ease: var(--ease-in-quad)) {
    $unfoldedTransitions: ();
    @each $transition in $transitions {
        $unfoldedTransitions: list.append(
                $unfoldedTransitions,
                unfoldTransition($transition, $duration, $ease),
                comma
        );
    }

    -webkit-transition: $unfoldedTransitions;
    transition: $unfoldedTransitions;
}

@function unfoldTransition($transition, $duration, $ease) {
    $property: all;
    $duration: $duration;
    $easing: $ease;
    $delay: null;
    $defaultProperties: ($property, $duration, $easing, $delay);

    $unfoldedTransition: ();
    @for $i from 1 through list.length($defaultProperties) {
        $p: null;
        @if $i <= list.length($transition) {
            $p: list.nth($transition, $i);
        } @else {
            $p: list.nth($defaultProperties, $i);
        }
        $unfoldedTransition: list.append($unfoldedTransition, $p);
    }

    @return $unfoldedTransition;
}
